ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 80px;
    text-decoration: none;
        }
        
        .center {
          text-align: center;
        }

        .logo {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 200px;
        }

  li a:hover {
    background-color: #111;
  }
  body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
}


button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container7 {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}


.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid whitesmoke;
  width: 80%; 
}


.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}


.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.l1 { 
  position: absolute;
  left: 10.5%;
  top: 250px;
}
.l2 {
  position: absolute;
  left: 40%;
  top: 250px;
}
.l3 {
  position: absolute;
  right: 10.5%;
  top: 250px;
}
.l1img {
  position: absolute;
  left: 10.5%;
  top: 550px;
  height: 200px;
  width: 300px;
}
.l2img {
  position: absolute;
  left: 40%;
  top: 550px;
  height: 200px;
  width: 300px;
}
.l3img {
  position: absolute;
  right: 10.5%;
  top: 550px;
  height: 200px;
  width: 300px;
}
.l1p {
  position: absolute;
  left: 10.5%;
  top: 640px;
  width: 300px;
}
.l2p {
  position: absolute;
  left: 40%;
  top: 650px;
  width: 300px;
}
.l3p {
  position: absolute;
  right: 10.5%;
  top: 650px;
  width: 300px;
}
table, th, td {
  border:1px solid black;
  color: white;
}
.t1 {
  position: absolute;
  left: 5%;
  top: 500px;
  width: 350px;
}
.t2 {
  position: absolute;
  right: 10.5%;
  top: 500px;
  width: 350px;
}
.t3 {
  position: absolute;
  left: 40%;
  top: 500px;
  width: 350px;
}
.f1 {
  position: absolute;
  left: 5%;
  top: 260px;
  width: 350px;
}
.d1 {
  position: absolute;
  right: 10.5%;
  top: 260px;
  width: 350px;
  height: 200px;
}
.s1 {
  position: absolute;
  right: 43%;
  top: 260px;
  width: 300px;
  height: 225px;
}
.v2 {
  position: absolute;
  left: 650px;
  top: 239px;
  width: 550px;
  height: 315.5px;
}
.v1 {
  position: absolute;
  top: 239px;
  width: 550px;
  height: 315.5px;
}
.v3 {
  position: absolute;
  left: 650px;
  top: 600px;
  width: 550px;
  height: 315.5px;
}
.v4 {
  position: absolute;
  left: 8px;
  top: 600px;
  width: 550px;
  height: 315.5px;
}
.v5 {
  position: absolute;
  left: 650px;
  top: 950px;
  width: 550px;
  height: 315.5px;
}
.v6 {
  position: absolute;
  left: 8px;
  top: 950px;
  width: 550px;
  height: 315.5px;
}
.v7 {
  position: absolute;
  left: 8px;
  top: 1300px;
  width: 550px;
  height: 315.5px;
}
.v8 {
  position: absolute;
  left: 650px;
  top: 1300px;
  width: 550px;
  height: 315.5px;
}
.picture3 {
  position: absolute;
  right: 0px;
  height: 315px;
  width: 500px;
}

body {
  font-family: Arial;
  font-size: 12px;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 91.5%;
  padding: 20px;
}

body {
  font-family: Arial;
  font-size: 12px;
}

.container2 {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img2 {vertical-align: middle;}

.container2 .content2 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 97%;
  padding: 12px;
}

.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #3333cc;
}

.content3 {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #3333cc;
}

.buy-now {
  position: absolute;
    top: 660px;
    left: 97px;
    color: black;
}
.buy-now2 {
  position: absolute;
    top: 690px;
    left: 40%;
    color: black;
}
.buy-now3 {
  position: absolute;
    top: 690px;
    left: 71.25%;
    color: black;
}

.book-now {
  position: absolute;
    top: 560px;
    color: black;
}
.book-now2 {
  position: absolute;
    top: 920px;
    color: black;
}
.book-now3 {
  position: absolute;
    top: 1270px;
    color: black;
}
.book-now4 {
  position: absolute;
    top: 1620px;
    color: black;
}
body {
  background-color:#3333cc;
  color: white;
}

